<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<body>
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">请输入用户名</span>
                    <input type="text" class="form-control" placeholder="请输入用户名" v-model="username">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">请输入竞价金额</span>
                    <input type="text" class="form-control" placeholder="请输入竞价金额" v-model.lazy="auctionMoney" number>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="pullAuction(username,auctionMoney)">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>竞拍金额</th>
                        <th>时间</th>
                    </tr>
                    <tr v-for="(obj,index) in auctionList">
                        <td>{{index+1}}</td>
                        <td>{{obj.username}}</td>
                        <td>{{obj.auctionMoney}}</td>
                        <td>{{obj.lastDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/vue.js"></script>
    <script type="text/javascript" src="/javascripts/client-ws.js"></script>
</body>

</html>